// new color changes
$primary-color: #58A8A5;
$secondary-color: #6BC8C1;
$text-color: #0C2135;
$text-color-dark: #0C2135;
$text-color-light: #1B3D56;
$body-color: #fff;
$border-color: #deefed;
$black: #000;
$white: #fff;
$gray: #f8f8f8;
$danger-color: #DA4531;
$info-color: #20639B;
$warning-color: #FEB15F;
// $gray: #fffef4;
// $gray: #f9feff;
$gray-primary: #Eff1f0;
// Color Variables
// old color scheme
// $primary-color: #00AAA1;
// $text-color: #666666;
// $text-color-dark: #222222;
// $text-color-light: #959595;
// $body-color: #fff;
// $border-color: #ACB9C4;
// $black: #000;
// $white: #fff;
// $gray: #f4fcff;

// Font Variables
$primary-font: Roboto, 'Segoe UI', sans-serif;
$secondary-font: "Raleway", Serif, 'Segoe UI';
$icon-font: 'themify';
