// new color changes
$primary-color: #4ABDAC;
$secondary-color: #4ABDAC;
$text-color: #444444;
$text-color-dark: #222222;
$text-color-light: #959595;
$body-color: #fff;
$border-color: #deefed;
$black: #000;
$white: #fff;
$gray: #fffef4;
// $gray: #f9feff;
$gray-primary: #f4fcff;
// Color Variables
// old color scheme
// $primary-color: #00AAA1;
// $text-color: #666666;
// $text-color-dark: #222222;
// $text-color-light: #959595;
// $body-color: #fff;
// $border-color: #ACB9C4;
// $black: #000;
// $white: #fff;
// $gray: #f4fcff;

// Font Variables
$primary-font: Roboto, 'Segoe UI', sans-serif;
$secondary-font: "Raleway", Serif, 'Segoe UI';
$icon-font: 'themify';
