/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation.scss';

@import 'templates/main.scss';

// custom properties 
.featured-container, .single-page-header-container {
	margin-top: 30px;
}

.single-page-header-container {
	margin-bottom: 20px;
}

.featured-section, .single-page-header-section {
	padding-bottom: 10px !important;
	background: $gray;
	border-bottom: 0.5px solid $border-color;
}

.recent-section{
	padding-top: 10px !important;
	border-bottom: 1px solid $border-color;
}

.all-posts-section {
	padding-top: 10px !important;
}

footer {
	border-top: 0.5px solid $border-color;
}
