{{ define "main" }}
<section class="section-sm single-page-header-section">
    <div class="container">
        <section class="section-sm single-header-section col-lg-11 ">
            <div>
                {{ range .Params.categories }}
                <a href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}" class="text-primary category-text-single">{{ . | title | humanize | upper }}</a>
								{{ end }}
            </div>
						<div class="post-meta">
								<span>by {{ .Site.Params.Author }}</span> 
								{{ if not .Params.HideDate }}
								<span class="border-bottom border-primary px-2 mx-1"></span>
								<span>{{ .PublishDate.Format "02 January 2006" }}</span>
								{{ end }}
						</div>
            <h1 class="single-header-title">{{ .Title | markdownify }}</h1>
        </section>
    </div>

		<div class="img-container d-block">
				{{ if .Params.image }}
					<img src="{{ .Params.Image | absURL }}" class="img-fluid w-auto" alt="{{ .Title | markdownify }}">                        
				{{ end }}

				{{ if .Params.image_credit }}
					<div class="image-credit">{{ .Params.image_credit }}</div>
				{{ end }}
		</div>
</section>

<section>
        <div class="row">


						<div class="col-lg-1 col-sm-12">
							{{ partial "sharingoptions.html" . }}
						</div>

							<div class="col-lg-7 col-sm-10">
									<div class="content mb-5 ml-20">
											{{ .Content }}
									</div>
							<!-- </div> -->

                <!-- Tags -->
                <div class="widget-new mb-50 ml-20">
                    <h5 class="mb-10">Tagged in</h5>
                    {{- if .Params.tags }} {{- if not (eq (len .Params.tags) 0) }}
                    <ul class="list-inline .tags">
                        {{- range $name, $items := .Params.tags }}
                        <li class="list-inline-item"><a class="d-block tag-single" href="{{ `tags/` | relLangURL }}{{ $items | urlize | lower }}">{{ $items | lower }}</a></li>
                        {{- end }}
                    </ul>
                    {{- end }} {{- end }}
                </div>

                <!-- related -->
                <div>
                    {{ partial "related.html" . }}
                </div>

								<!-- newsletter -->
								<div class="col-12">
									{{ partial "newsletter.html" . }}
								</div>

                <!-- comments -->
                {{ template "_internal/disqus.html" . }}
                <!-- mathjax-->
                {{ partial "mathjax.html" . }}
            </div>

            <!-- sidebar -->
            {{ partial "sidebar-single.html" . }}
            <!-- /sidebar -->

        </div>
</section>

<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"><i class="ti-angle-up"></i></a>{{ end }}
