
<!-- related posts -->
<section class="ml-20">
		<h5>You may also like ...</h5>
		<br/>
    <div class="row">
		{{ $related := (where .Site.Pages ".Params.type" "=" "featured") | intersect (where .Site.Pages ".Title" "!=" .Title) | union (.Site.RegularPages.Related .) | union (where .Site.Pages ".Params.type" "=" "post") | intersect (where .Site.Pages ".Title" "!=" .Title)| shuffle | first 4 }}
		{{ with $related }}
			{{ range $num, $name := . }}
				<!-- {{ if ge $num 2 }} -->
				<!-- 	<div class="row mt-5"></div> -->
				<!-- {{ end }} -->
				<div class="col-lg-6 mb-5 related-posts">
						{{ partial "related-sub.html" . }}
				</div>
			{{ end }}
		{{ end }}
    </div>
</section>
<!-- /recent post -->
