<article class="media">
	{{ if .Params.Image }}
	<div class="recent-post-thumb related-post-thumb mr-3" style="background-image: url('{{ .Params.Image | absURL }}');"></div>
	{{ end }}
	<div class="media-body">
		<div class="mb-3 post-meta">
			<span style="font-size: 0.8rem;">By {{ .Site.Params.Author }}</span>
			{{ if not .Params.HideDate }}
			<span class="border-bottom border-primary px-2 mx-1"></span>
			<span style="font-size: 0.8rem;">{{ .PublishDate.Format "02 Jan 2006" }}</span>
			{{ end }}
		</div>
		<a href="{{ .Permalink }}" class="h5 d-block mb-3" style="font-size:1rem;">{{ .Title | markdownify }}</a>
		<!-- <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a> -->
	</div>
</article>

