<div id="share-options-bar" class="share-buttons position-sticky">
    {{ range .Site.Params.sharingOptions }}
      <div class="share-button">
        <a class="share-option-btn fb-xfbml-parse-ignore" target="new" href="{{ printf .url (substr (querify "x" $.Permalink) 2)}}">
         <i class="{{ .icon }} share-button-icon"></i>
					<!-- <span>{{ printf (i18n "global.share_on") .name }}</span> -->
        </a>
      </div>
    {{ end }}
</div>
<div id="share-options-mask" class="share-options-mask"></div>
