<div class="col-lg-3 sidebar">
  <!-- <!-1- about -1-> -->
  <!-- <div class="widget"> -->
  <!--   {{ with .Site.GetPage "/about" }} -->
  <!--   <h6 class="widget-title">{{ .Title | markdownify }}</h6> -->
  <!--   {{ if .Params.Image }} -->
  <!--   <img src="{{ .Params.Image | absURL }}" alt="" -->
  <!--     class="img-fluid author-thumb-sm d-block mx-auto rounded-circle mb-4"> -->
  <!--   {{ end }} -->
  <!--   <p>{{ .Summary }}</p> -->
  <!--   <a href="{{ .Permalink }}" class="btn btn-outline-primary">Know More</a> -->
  <!--   {{ end }} -->
  <!-- </div> -->

  <!-- <div id="toc" class="well col-md-4 col-sm-6">
    {{ .TableOfContents }}
  </div>
 -->


	<!-- funfact -->
	{{ partial "funfact.html" . }}

  <!-- social -->
  <div class="widget">
    <h6 class="widget-title">Social</h6>
    <ul class="list-inline social-links">
      {{ range .Site.Params.social }}
      <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
      {{ end }}
    </ul>
  </div>

   <!-- category -->
  <div class="widget">
    <h6 class="widget-title">Category</h6>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li><a
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize | upper }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>

  <!-- Tags -->
  <div class="widget">
    <h6 class="widget-title">Tags</h6>
    {{- if isset .Site.Taxonomies "tags" }}
    {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
    <ul class="list-inline .tags">
      {{- range $name, $items := .Site.Taxonomies.tags }}
      <li class="list-inline-item"><a class="d-block tag"
          href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | lower }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>

 <!-- advertisement -->
  <!-- <div class="widget"> -->
  <!--   <img src="{{`images/promotion.png` | absURL}}" alt="" class="img-fluid"> -->
  <!-- </div> -->

	<!-- affiliate policy -->
	<!-- {{ partial "disclaimer.html" . }} -->

	<!-- Latest articles -->
	
		<!-- <div class="widget"> -->
			<div class="latest-articles position-sticky">
				<h6 class="widget-title">Latest Articles</h6>
					<div class="row">
						<div class="container">
							{{ range first 4 (where .Site.RegularPages "Type" "post")| intersect (where .Site.Pages ".Title" "!=" .Title)}}
								<div class="latest-articles-list mb-3 post-meta">
                  {{ if not .Params.HideDate }}
                  <span style="font-size: 0.8rem;">{{ .PublishDate.Format "02 January 2006" }}</span>
									<a href="{{ .Permalink }}" class="h6 d-block mb-3">{{ .Title | markdownify }}</a>
                  {{ end }}
                </div>
							{{ end }}
						</div>
					</div>
			</div>
		<!-- </div> -->

</div>
